fastapi
uvicorn
sqlmodel
sqlalchemy
asyncpg
psycopg2-binary
alembic
python-multipart
python-jose[cryptography]
passlib[bcrypt]
playwright
requests
google-auth
google-auth-oauthlib
google-auth-httplib2
bs4